<section class="">
    <div class="cc-box">
      <div #ccBoxFlip class="cc-box--flip">
        <div class="cc-box__front">
          <div class="cc-box__logo">
            <!-- <p>{{getCardType(ccNumber.value) | uppercase}}</p> -->
          </div>
          <div class="cc-box__element">
            <label class="cc-form__label" for="cc-card-number-display"></label>
            <input class="cc-form__input cc-form__input--transparent cc-form__input--embosed" id="cc-card-number-display"
                   aria-label="Payment card number" disabled="disabled">
          </div>
          <div class="cc-box__element">
            <label class="cc-form__label" for="cc-holder-display">CARD HOLDER</label>
            <input class="cc-form__input cc-form__input--transparent cc-form__input--embosed" id="cc-holder-display"
                   aria-label="Card holder" disabled="disabled">
          </div>
          <div class="cc-box__element">
            <label class="cc-form__label" for="cc-valid-date-display">VALID THRU</label>
            <input class="cc-form__input cc-form__input--left-align cc-form__input--transparent cc-form__input--embosed"
                   id="cc-valid-date-display" aria-label="Card holder" disabled="disabled">
          </div>
          <div class="cc-box__chip"></div>
        </div>
        <div class="cc-box__back">
          <div class="cc-box__strip">&nbsp;</div>
          <div class="cc-box__element">
            <input class="cc-form__input cc-form__input--cursive cc-form__input--right-align" id="cc-ccv-display"
                   aria-label="CCV" disabled="disabled">
          </div>
        </div>
      </div>
    </div>
    <app-card-tabs></app-card-tabs>
  </section>